# Don't track content of these folders
02-VBA-Scripting/ExcelFiles/
03-Python/PyPoll/Resources/
04-Pandas/PyCitySchools/Resources/
04-Pandas/HeroesOfPymoli/Resources/
17-Mapping-Web/Instructions/Code/config.js
17-Mapping-Web/Instructions/Code/tectonicplates
18-ProjectWeek2/FlaskApp/config.py
18-ProjectWeek2/FlaskApp/__pycache__/
20-Tableau/Instructions/201603-citibike-tripdata.csv
